@import "@scss/variables";

.emptySelection {
  width: 100%;
  height: 100%;
  vertical-align: center;

  p {
    position: relative;
    margin: auto;
    width: 50%;
    top: 50%;
    height: 50px;
    color: $muted;
  }
}
