@import "@scss/variables";
@import "./_common";

.simulationListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 240px;
  min-height: 100vh;
  margin-left: 16px;

  .simulationList {
    background: whitesmoke;
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
    border-radius: $radius-sm;

    li {
      padding: 0 16px 0 4px;
      text-decoration: none;
      border-bottom: dotted 1px $muted;
    }
  }
}
