@import "@scss/variables";

.votingOutcome {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  padding: 1rem;
  background: $dashboard-card-bg;
  border-bottom: 1px solid $muted;
  border-top-right-radius: $radius-sm;
  border-top-left-radius: $radius-sm;

  strong {
    color: $primary;
  }
}

.submodelContainer {
  display: flex;
  background: $dashboard-card-bg;
  border-bottom-left-radius: $radius-sm;
  border-bottom-right-radius: $radius-sm;

  .ministerNetworkContainer {
    flex: 4;
  }

  .rightPanel {
    display: flex;
    flex-direction: column;
    flex: 3;

    .legislativeContainer {
      border-bottom: 1px solid $muted;
    }

    .legislativeContainer,
    .judicialContainer {
      figure {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.inactive-branch {
  border: 2px dashed gray;
}
