@import "variables";


*, *::before, *::after {
  box-sizing: border-box;
}

body.site-body {
  min-height: 100vh;
  font-family: $font-family;
  color: $text;
  background:
    radial-gradient(circle at top left, #5a2bd2 0, transparent 55%),
    radial-gradient(circle at bottom right, #ff6ed8 0, transparent 55%),
    $bg;
  display: flex;
  flex-direction: column;
}
