@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body.site-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  color: $text;
  background:
    radial-gradient(circle at top left, #5a2bd2 0, transparent 55%),
    radial-gradient(circle at bottom right, #ff6ed8 0, transparent 55%), $bg;
  padding: 0 1rem;
}
