.feature-strip {
  --min-card-width: 325px;
  display: flex;
  justify-content: center;
  padding: 2rem;

  .feature-strip-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;
    max-width: calc(calc(3 * var(--min-card-width) + 4rem));
    min-width: 0;
    gap: 1rem;

    .feature-item {
      @include card;
      min-width: var(--min-card-width);
      text-align: center;

      h3 {
        @include card-title;
      }
    }
  }
}
