@import "body";
@import "layout";
@import "buttons";

@import "header";
@import "main";
@import "featureStrip";
@import "authentication";
@import "footer";

#root {
  flex: 1;
  min-height: 0;
}

@media (max-width: 1150px) {
  .feature-strip {
    .feature-strip-inner {
      grid-template-columns: minmax(325px, 32rem);
    }
  }
}

@media (max-width: 900px) {
  .hero {
    padding-bottom: 0rem;

    .hero-inner {
      flex-direction: column-reverse;
    }

    .hero-card {
      order: -1;
      width: 32rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hero-text {
      .hero-kicker {
        text-align: center;
        font-size: 2rem;
      }

      .h1 {
        text-align: center;
        font-size: clamp(2.5rem, 4vw, 3.2rem);
      }

      .hero-lead {
        text-align: center;
        font-size: 1.5rem;
      }

      .hero-actions {
        justify-content: center;
      }
    }
  }

  .site-footer {
    .footer-inner {
      flex-direction: column;
    }
  }
}
