{% load i18n %}
{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <link rel="stylesheet" href="{% sass_src 'scss/base.scss' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" href="{% sass_src 'scss/allauth.scss' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="site-body">
{% block body %}
    <header class="site-header">
        <div class="container header-inner">
            <div class="brand-user">
                <div class="brand">
                    <span class="brand-pill">User</span>
                    <span class="brand-pill brand-pill--accent">Account</span>
                </div>

                {% if user.is_authenticated %}
                    <span class="user-email">{{ user.email }}</span>
                {% endif %}
            </div>
            <nav class="header-nav">
                {% if user.is_authenticated %}
                    {% url 'account_email' as email_url_ %}
                    {% if email_url_ %}
                        <a class="nav-link button button--outline" href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                    {% endif %}
                    {% url 'account_change_password' as change_password_url_ %}
                    {% if change_password_url_ %}
                        <a class="nav-link button button--outline" href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                    {% endif %}
                    {% url 'socialaccount_connections' as connections_url_ %}
                    {% if connections_url_ %}
                        <a class="nav-link button button--outline" href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                    {% endif %}
                    {% url 'mfa_index' as mfa_url_ %}
                    {% if mfa_url_ %}
                        <a class="nav-link button button--outline" href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                    {% endif %}
                    {% url 'usersessions_list' as usersessions_list_url_ %}
                    {% if usersessions_list_url_ %}
                        <a class="nav-link button button--outline" href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                    {% endif %}
                    {% url 'account_logout' as logout_url_ %}
                    {% if logout_url_ %}
                        <a class="nav-link button button--outline" href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                    {% endif %}
                {% else %}
                    {% url 'account_login' as login_url_ %}
                    {% if login_url_ %}
                        <a class="nav-link button button--outline" href="{{ login_url_ }}">{% trans "Sign In" %}</a>
                    {% endif %}
                    {% url 'account_signup' as signup_url_ %}
                    {% if signup_url_ %}
                        <a class="nav-link button button--outline" href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>
                    {% endif %}
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="site-main authentication">
        <div class="container authentication-container">
            {% if messages %}
                <div>
                    <strong>{% trans "Messages:" %}</strong>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
    </main>
{% endblock body %}
{% block extra_body %}
{% endblock extra_body %}
</body>
<footer class="site-footer">
    <div class="container footer-inner">
        <p class="footer-meta">
            Funded by the European Union. Views and opinions expressed are those of the author(s) only.
        </p>
        <p class="footer-copy">
            © 2025 – All rights reserved.
        </p>
    </div>
</footer>
</html>
