@import "@scss/variables";

.ministerNetworkContainer {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  border-bottom-left-radius: $radius-sm;
  border-right: 1px solid $muted;

  svg {
    display: block;

    marker {
      fill: $text;
    }
    path {
      stroke: $text;
    }

    text {
      fill: #000;
      stroke: $text;
      paint-order: stroke;
      font-weight: 800;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-width: 1px;
      font-size: 8px;
      pointer-events: none;
      user-select: none;
    }
  }
}
